<h2>Edit Invoice {{updInvoice.invoiceID}}</h2>
<form (ngSubmit)="onSubmit()">
  <div>
    <label>Invoice Number:</label>
    <input type="text" name="invoiceNumber" [(ngModel)]=" updInvoice.invoiceNumber" required>
  </div>
  <div>
    <label>Invoice Date:</label>
    <input type="date" name="invoiceDate" [(ngModel)]=" updInvoice.invoiceDate" required>
  </div>
  <div>
    <label>Vendor ID:</label>
    <input type="number" name="vendorID" [(ngModel)]=" updInvoice.vendorID" required>
  </div>
  <div>
    <label>Customer ID:</label>
    <input type="number" name="customerID" [(ngModel)]=" updInvoice.customerID" required>
  </div>
  <div>
    <label for="category">Category:</label>
    <select id="category" name="category" [(ngModel)]="updInvoice.category" required>
      <option value="">Select an option</option>
      <option value="Utilities">Utilities</option>
      <option value="Rent">Rent</option>
      <option value="Supplies">Supplies</option>
      <option value="Supplies">Unkown</option>
    </select>
  </div>
  <div>
    <label>Total Amount:</label>
    <input type="number" name="totalAmount" [(ngModel)]=" updInvoice.totalAmount" required>
  </div>
  <div>
    <label>Currency ID:</label>
    <input type="number" name="currencyID" [(ngModel)]=" updInvoice.currencyID" required>
  </div>
  <button type="submit">Submit</button>
  <button type="button" (click)="onClose()">Close</button>
</form>